#idea-wrapper {
  margin-top: 10vh;
  border: 0.5px solid #f3f3f3;
  box-shadow: 3px 3px 4px 5px #f5e0e0;
  border-radius: 3px;
  min-width: fit-content;
  width: 75%;
}

#idea-pic {
  height: 200px;
  align-self: center;
}

.prof-pic {
  height: 30px;
}

#button-container {
  display: flex;
  flex-direction: column;
}

.unstyled-li {
  list-style: none;
}

ul {
  padding: 0;
}
